
.header-title {
    font-size: 2.5rem; 
    font-weight: 600;
    line-height: 1.2;
  }
  
  .header-subtitle {
    font-size: 1.25rem;
    color: #6c757d;
  }
  

  @media (max-width: 768px) {
    .header-title {
      font-size: 2rem; /* Smaller font for smaller screens */
    }
  
    .header-subtitle {
      font-size: 1rem; /* Adjust subtitle size */
    }
  }
  